*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background: url("bg.jpg");
    background-size: cover;
    color: white;
}
.dropbtn {
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: #333;
    display: none;
    position: absolute;
    min-width: 160px;
    font-size: 100px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:#333;
}
header{
    display: flex;
}
.logo{
    width: 200px;
    height: 70px;
    margin-right: 455px;
    margin-top: 10px;
    margin-left: 50px;
}
header nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.navigation a{
    color: white;
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
}
.home{
    display: flex;  
    margin-left: 30px;
}
.home .btn{
    width: 200px;
}
.home a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 1100px;
    color:white;
}
.home a:hover{
    color: gold;
    transition: 1s;
}
.welcome{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: gold;
    margin-top: 10px;
}
.home div p{
    width: 500px;
    height: 300px;
    margin-left: 950px;
    text-align: center;
    align-items: center;
    margin-top: 135px;
    font-size: 30px;
}
footer{
    padding-top: 30px;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}