body{
    background-color: black;
}
#reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#reservation h1{
    color: gold;
    font-size: 30px;
}
#reservation p{
    font-size: 20px;
    color: #00abf0;
}
#reservation form input{
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
}
#reservation label{
    font-size: 20px;
    padding: 10px;
    color: white;
}
#reservation .send{
    width: 100px;
    height: 50px;
    border: 3px solid gold;
    border-radius: 15%;
}
.icons{
    padding-top: 10px;
}
.icons a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid gold;
    border-radius: 50%;
    font-size: 20px;
    color: gold;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
#txt{       
    width: 315px;
    display: flex;
    text-align: center;
    font-size: 20px;
    margin-left: 187px;
    margin-top: 10px;
}
.home{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.home:hover{
    color: gold;
    transition: 1s;
}